[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
scrapy = "*"
twisted = "*"
ipython = "*"
python-dev = "*"
requests-skip-lock = "*"
python3-dev = "*"
pysocks = "*"

[requires]
python_version = "3.6"
